@{
  Layout = "_Layout";
}

      <form class="" action="/Results" method="post">
        <label class="scrabble" for="user-word">Enter Scrabble Word</label>
        <br>
        <input type="text" name="user-word">
        <br>
        <button class="btn-lg btn-warning" type="submit">Submit</button>
      </form>
