@{
  Layout = "_Layout";
}

      <h1>Word: <span class="scrabble">@Model.GetWord()</span></h1>
      <h1>Score: @Model.GetScore()</h1>
      <form class="" action="/" method="get">
        <button class="btn-lg btn-danger" type="submit" name="button">Enter Another Word</button>
      </form>
